<?xml version="1.0" encoding="UTF-8"?>
<server description="defaultServer">
    <!-- Enable features -->
    <featureManager>
        <feature>cdi-4.0</feature>
        <feature>enterpriseBeansLite-4.0</feature>        
        <feature>xmlBinding-4.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>persistence-3.1</feature>
        <feature>faces-4.0</feature>
        <feature>sessionCache-1.0</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <!-- Define http & https endpoints -->
    <httpEndpoint id="defaultHttpEndpoint" host="*"
                  httpPort="9080" httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <!-- Define web application with its context root and location -->
    <webApplication id="javaee-cafe" contextRoot="/"
                    location="${server.config.dir}/apps/javaee-cafe.war">
    </webApplication>

    <!-- trust JDK’s default truststore -->
    <ssl id="defaultSSLConfig"  trustDefaultCerts="true" />

    <httpSessionCache libraryRef="InfinispanLib" enableBetaSupportForInfinispan="true">
        <properties infinispan.client.hotrod.server_list="${infinispan.host}:${infinispan.port}"/>
        <properties infinispan.client.hotrod.auth_username="${infinispan.user}"/>
        <properties infinispan.client.hotrod.auth_password="${infinispan.pass}"/>
        <properties infinispan.client.hotrod.auth_realm="default"/>
        <properties infinispan.client.hotrod.auth_server_name="infinispan"/>
        <properties infinispan.client.hotrod.sasl_mechanism="${sasl.mechanism}"/>
        <properties infinispan.client.hotrod.java_serial_whitelist=".*"/>
        <properties infinispan.client.hotrod.marshaller="org.infinispan.commons.marshall.JavaSerializationMarshaller"/>
        <properties infinispan.client.hotrod.trust_store_file_name="${server.config.dir}/${keystore.name}"/>
        <properties infinispan.client.hotrod.trust_store_type="PKCS12"/>
        <properties infinispan.client.hotrod.trust_store_password="${keystore.pass}"/>
    </httpSessionCache>
    <variable name="sasl.mechanism" defaultValue="PLAIN"/>

    <library id="InfinispanLib">
        <fileset dir="${shared.resource.dir}/infinispan" includes="*.jar" />
    </library>

    <dataSource id="JavaEECafeDB" jndiName="jdbc/JavaEECafeDB">
        <jdbcDriver libraryRef="driver-library" />
        <properties.postgresql
          serverName="${db.server.name}"
          portNumber="${db.port.number}"
          databaseName="${db.name}"
          user="${db.user}"
          password="${db.password}"
          ssl="${db.ssl}" />
    </dataSource>
    <variable name="db.ssl" defaultValue="false"/>

    <library id="driver-library">
        <fileset dir="${shared.resource.dir}" includes="*.jar" />
    </library>
</server>
