<?xml version="1.0" encoding="UTF-8"?>
<server description="defaultServer">
    <!-- Enable features -->
    <featureManager>
        <feature>cdi-2.0</feature>
        <feature>jaxb-2.2</feature>
        <feature>jsf-2.3</feature>
        <feature>jaxrs-2.1</feature>
        <feature>ejbLite-3.2</feature>
        <feature>ldapRegistry-3.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>appSecurity-3.0</feature>
        <feature>jwt-1.0</feature>
        <feature>mpJwt-1.1</feature>
    </featureManager>

    <!-- Define http & https endpoints -->
    <httpEndpoint id="defaultHttpEndpoint" host="*"
        httpPort="9080" httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <!-- Define web application with its context root and location -->
    <webApplication id="javaee-cafe" contextRoot="/"
        location="${server.config.dir}/apps/javaee-cafe.war">
        <!-- Grant role "users" to all authenticated users -->
        <application-bnd>
            <security-role name="users">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
            <security-role name="admin">
                <group name="${admin.group.name}" />
            </security-role>
        </application-bnd>
    </webApplication>

    <!-- sslDefault service configuration -->
    <sslDefault sslRef="defaultSSLConfig" />

    <!-- trust JDK’s default truststore -->
    <ssl id="defaultSSLConfig"  trustDefaultCerts="true" />

    <!-- SSL configuration for LDAP -->>
    <ssl id="LDAPSSLSettings" keyStoreRef="LDAPKeyStore" />
    <keyStore id="LDAPKeyStore" 
        location="${server.config.dir}/${keystore.name}"
        type="PKCS12" password="${keystore.pass}" />

    <!-- Add your tenant id, client ID and secret from AAD -->
    <ldapRegistry
        id="liberty-aad-ldap-javaeecafe"
        ldapType="Microsoft Active Directory"
        ignoreCase="true"
        realm="myRealm"
        host="${ldap.server.host}"
        port="${ldap.server.port}"
        baseDN="${ldap.server.baseDN}"
        bindDN="${ldap.server.bindDN}"
        bindPassword="${ldap.server.bindPassword}"
        sslEnabled="true"
        sslRef="LDAPSSLSettings">
        <activedFilters
            userFilter="(&amp;(sAMAccountName=%v)(objectcategory=user))"
            groupFilter="(&amp;(cn=%v)(objectcategory=group))"
            userIdMap="user:sAMAccountName"
            groupIdMap="*:cn"
            groupMemberIdMap="memberOf:member">
        </activedFilters>
    </ldapRegistry>

    <!-- JWT builder -->
    <jwtBuilder id="jwtAuthUserBuilder" 
        keyStoreRef="defaultKeyStore" keyAlias="default" 
        issuer="https://example.com" expiresInSeconds="600" />

    <!-- JWT consumer -->
    <mpJwt id="jwtUserConsumer" 
        jwksUri="https://localhost:9443/jwt/ibm/api/jwtAuthUserBuilder/jwk"  
        issuer="https://example.com" authFilterRef="mpJwtAuthFilter" />

    <!-- JWT auth filter -->
    <authFilter id="mpJwtAuthFilter">
        <requestUrl id="myRequestUrl" urlPattern="/rest" matchType="contains"/>
    </authFilter>
</server>