apiVersion: openliberty.io/v1beta1
kind: OpenLibertyApplication
metadata:
  # Note:
  # - replace "${DB_Type}" with "mssql" for testing DB connection with Azure SQL
  # - replace "${DB_Type}" with "postgres" for testing DB connection with Azure Database for PostgreSQL
  name: javaee-cafe-connect-db-${DB_Type}
  namespace: open-liberty-demo
spec:
  replicas: 1
  # Note: 
  # - replace "${Image_Name}" with "javaee-cafe-connect-db-mssql" for testing DB connection with Azure SQL
  # - replace "${Image_Name}" with "javaee-cafe-connect-db-postgres" for testing DB connection with Azure Database for PostgreSQL
  applicationImage: ${Image_Name}:1.0.0
  expose: true
  # Note:
  # - replace "${DB_SERVER_NAME}", "${DB_PORT_NUMBER}", "${DB_NAME}", "${DB_USER}" and "${DB_PASSWORD}" with the database server name, port, database name, username and password.
  env:
    - name: DB_SERVER_NAME
      value: ${DB_SERVER_NAME}
    - name: DB_PORT_NUMBER
      value: ${DB_PORT_NUMBER}
    - name: DB_NAME
      value: ${DB_NAME}
    - name: DB_USER
      value: ${DB_USER}
    - name: DB_PASSWORD
      value: ${DB_PASSWORD}
