apiVersion: openliberty.io/v1beta1
kind: OpenLibertyApplication
metadata:
  # Note:
  # - replace "${DB_Type}" with "mssql" for testing DB connection with Azure SQL
  # - replace "${DB_Type}" with "postgres" for testing DB connection with Azure Database for PostgreSQL
  name: javaee-cafe-connect-db-${DB_Type}
  namespace: open-liberty-demo
spec:
  replicas: 1
  # Note: 
  # - replace "${Container_Registry_URL}" with your container registry URL
  # - replace "${Image_Name}" with "javaee-cafe-connect-db-mssql" for testing DB connection with Azure SQL
  # - replace "${Image_Name}" with "javaee-cafe-connect-db-postgres" for testing DB connection with Azure Database for PostgreSQL
  applicationImage: ${Container_Registry_URL}/${Image_Name}:1.0.0
  pullSecret: registry-secret
  expose: true
  # Note:
  # - replace "${DB_Type}" with "mssql" for testing DB connection with Azure SQL
  # - replace "${DB_Type}" with "postgres" for testing DB connection with Azure Database for PostgreSQL
  env:
  - name: DB_SERVER_NAME
    valueFrom:
      secretKeyRef:
        name: db-secret-${DB_Type}
        key: db.server.name
  - name: DB_PORT_NUMBER
    valueFrom:
      secretKeyRef:
        name: db-secret-${DB_Type}
        key: db.port.number
  - name: DB_NAME
    valueFrom:
      secretKeyRef:
        name: db-secret-${DB_Type}
        key: db.name
  - name: DB_USER
    valueFrom:
      secretKeyRef:
        name: db-secret-${DB_Type}
        key: db.user
  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db-secret-${DB_Type}
        key: db.password
