apiVersion: apps.openliberty.io/v1beta2
kind: OpenLibertyApplication
metadata:
  name: javaee-cafe-elk-cluster-logging
  namespace: open-liberty-demo
spec:
  replicas: 1
  applicationImage: javaee-cafe-simple:1.0.0
  expose: true
